<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>real_time_chat</title>
    {{!-- <link rel="stylesheet" href="/css/bootstrap.css" /> --}}
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/socket.js" defer></script>
    <script type="text/javascript" src="/js/database_msgs.js" defer></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
